{% extends "base.html" %}
{% load static %}
{% block title %}Listar Professor {% endblock %}
{% block conteudo %}
{% load bootstrap5 %}
{% bootstrap_messages %}

<h2><span class="badge bg-primary mb-1">Listar Professor</span></h2>

<ul class="list-group list-group-flush">
    {% for professor in professors %}
    <li class="list-group-item">
      {% if professor.avatarProfessor %}
      <img src="{{ professor.avatarProfessor.url }}" alt="" width="60">
      {% else %}
      <img src="https://cdn.pixabay.com/photo/2016/09/01/08/24/smiley-1635449_1280.png" alt="" width="60">
      {% endif %}      
      <a href="{% url 'detalhar-professor' professor.id %}">{{professor.matriculaProfessor}} {{professor.nomeProfessor}}</a></li>
    {% endfor %}
  </ul>

  {% if perms.professor.add_professor %}
  <a class="btn btn-primary" href="{% url 'cadastrar-professor' %}" role="button">Cadastrar Professor</a>
  {% endif %}

{% endblock conteudo %}
