{% extends "base.html" %}
{% load static %}
{% block title %}Detelhar Aluno {% endblock %}
{% block conteudo %}
{% load bootstrap5 %}


<h2><span class="badge bg-primary mb-1">Detalhar Aluno</span></h2>

{% if aluno.avatarAluno %}
<img src="{{ aluno.avatarAluno.url }}" alt="" width="100">
{% else %}
<img src="https://cdn.pixabay.com/photo/2016/09/01/08/24/smiley-1635449_1280.png" alt="" width="100">
{% endif %}
<h1>Matricula: {{ aluno.matriculaAluno }}</h1>
<h1>Aluno: {{ aluno.nomeAluno }}</h1>

<a class="btn btn-primary" href="{% url 'atualizar-aluno' aluno.id %}">Atualizar aluno</a>
<a class="btn btn-danger" href="{% url 'deletar-aluno' aluno.id %}">Apagar aluno</a>

{% endblock conteudo %}

