{% extends "base.html" %}
{% load static %}
{% block title %}Projeto TCC Listar Aluno {% endblock %}
{% block conteudo %}
{% load bootstrap5 %}
{% bootstrap_messages %}

<h2><span class="badge bg-primary mb-1">Listar Aluno</span></h2>

<ul class="list-group list-group-flush">
    {% for aluno in alunos %}
    <li class="list-group-item">
      {% if aluno.avatar %}
      <img src="{{ aluno.avatar.url }}" alt="" width="60">
      {% else %}
      <img src="https://cdn.pixabay.com/photo/2016/09/01/08/24/smiley-1635449_1280.png" alt="" width="60">
      {% endif %}      
      <a href="{% url 'detalhar-aluno' aluno.id %}">{{aluno.matriculaAluno}} {{aluno.nomeAluno}}</a></li>
    {% endfor %}
  </ul>

  {% if perms.aluno.add_aluno %}
  <a class="btn btn-primary" href="{% url 'cadastrar-aluno' %}" role="button">Cadastrar aluno</a>
  {% endif %}

{% endblock conteudo %}
