{% extends "base.html" %}
{% load static %}
{% block title %}Listar Periodo {% endblock %}
{% block conteudo %}
{% load bootstrap5 %}
{% bootstrap_messages %}

<h2><span class="badge bg-primary mb-1">Listar Periodo</span></h2>

<ul class="list-group list-group-flush">
    {% for aluno in alunos %}
    <li class="list-group-item">
           
      <a href="{% url 'detalhar-periodo' periodo.id %}">{{periodo.periodo}}</a></li>
    {% endfor %}
  </ul>

  {% if perms.periodo.add_periodo %}
  <a class="btn btn-primary" href="{% url 'cadastrar-periodo' %}" role="button">Cadastrar Periodo</a>
  {% endif %}

{% endblock conteudo %}
