{% extends "base.html" %}
{% load static %}
{% block title %}Listar Periodo {% endblock %}
{% block conteudo %}
{% load bootstrap5 %}
{% bootstrap_messages %}

<h2><span class="badge bg-primary mb-1">Listar Periodo</span></h2>

<ul class="list-group list-group-flush">
    {% for periodo in periodos %}
    <li class="list-group-item">           
      <a href="{% url 'detalhar-periodo' periodo.id %}">{{periodo.id}} --- {{periodo.periodo}}</a></li>
    {% endfor %}
</ul>

<a class="btn btn-primary" href="{% url 'cadastrar-periodo' %}" role="button">Cadastrar Periodo</a>

{% endblock conteudo %}
