{% extends "base.html" %}
{% load static %}
{% block title %}Listar Curso {% endblock %}
{% block conteudo %}
{% load bootstrap5 %}
{% bootstrap_messages %}

<h2><span class="badge bg-primary mb-1">Listar Curso</span></h2>

<ul class="list-group list-group-flush">
    {% for curso in cursos %}
    <li class="list-group-item">
      <a href="{% url 'detalhar-curso' curso.id %}">Curso - {{curso.curso}}</a></li>
    {% endfor %}
  </ul>

  
  <a class="btn btn-primary" href="{% url 'cadastrar-curso' %}" role="button">Cadastrar Curso</a>
  

{% endblock conteudo %}
